@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar */
::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #134e4a; /* teal */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d9488;
}